.footer {
	background-color: var(--MAIN-COLOR);
	color: var(--BRIGHT-TEXT);
	overflow-x: hidden;
}

.footer-inner {
	padding: var(--MARGIN-DEFAULT);
}

.footer a {
	font-weight: bold;
}

.footer-content {
	display: flex;
	flex-direction: row;
}

.footer-left {
	width: 75%;
}

.footer-right {
	width: 25%;
}

.footer-right img {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 992px) {
	.footer-content {
		flex-direction: column;
	}
	.footer-left {
		width: 100%;
	}
	.footer-right {
		width: 100%;
		text-align: center;
	}
}