nav {
    background-color: orange;
    color: white;
    border: none;
    display: flex;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

nav button {
    background-color: orange;
    border: none;
    color: white;
    flex-basis: 100px;
    flex-grow: 1;
    font-size: x-large;
}

nav button:focus, nav button:active {
    outline: none;
} 