html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif
}

.main-app {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
}

.hidden {
	visibility: hidden;
}